*{
    background-color: white;
    font-family: 'Lobster', cursive;
    padding: 0;
    margin: 0;
    left: 0;
    top:0;
}
.main-content{
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

h1{
    font-weight: bold;
}
